{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
